<div class="container min-h-full flex flex-col gap-8 sm:px-6 lg:px-8">
  <header class="w-full flex">
    <div class="w-full flex align-center justify-between items-center gap-4 text-2xl font-bold">
      <div class="flex gap-4 items-center">
        <div class="w-16 h-16 p-0 rounded-full overflow-hidden">
          <% if @user.avatar.attached? %>
            <%= image_tag rails_blob_url(@user.avatar, disposition: "inline" ), class:"w-full h-full object-cover" %>
          <% else %>
            <p>Avatar não disponível.</p>
          <% end %>
        </div>
        <h1 class="text-xl font-bold">
          Olá <%= current_user.name %>!
        </h1>
      </div>
      <ul class="flex gap-2">
        <li class="bg-blue-600 p-2 rounded-lg text-white">
          <%= link_to "Novo Artigo", new_article_path %>
        </li>
        <li class="bg-red-600 p-2 rounded-lg text-white">
          <%= button_to "Sair" , destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </header>

  <section class="container flex justify-start flex-col gap-8">
    <div class="flex justify-start flex-col">
      <h1 class="text-2xl font-bold">
        Artigos
      </h1>
      <span>Seus artigos mais recentes publicados!</span>
    </div>
    <div class="container flex justify-start gap-8">
      <% if @articles != nil %>
        <% @articles.each do |article| %>

          <%= link_to article_path(article), class: "flex flex-col w-64 h-28 rounded-lg gap-4" do %>
            <% if article.image.attached? %>
              <%= image_tag url_for(article.image), class: "max-w-full rounded-lg border border-slate-400" %>
            <% else %>
              <p>Imagem não disponível.</p>
            <% end %>
            <div class="flex flex-col gap-0">
              <h2 class="text-xl font-bold"><%= article.title %></h2>
              <div class="flex justify-between">
                <p class="text-gray-500 text-xs"><%= article.user.name %></p>
                <p class="text-gray-500 text-xs"><%= article.created_at.strftime("%H:%M:%S %d/%m/%y") %></p>
              </div>
            </div>
          <% end %>
          
        <% end %>
      <% else %>
          <h2 class="text-xl font-bold">Nenhum artigo publicado ainda!</h1>
      <% end %>
    </div>
  </section>
</div>