<div class="container min-h-full flex flex-col gap-8 sm:px-6 lg:px-8">
  <header class="w-full flex">
    <div class="w-full flex align-center justify-between items-center gap-4 text-2xl font-bold">
      <div class="flex gap-4 items-center">
        <div class="w-16 h-16 p-0 rounded-full overflow-hidden">
          <% if @user.avatar.attached? %>
            <%= image_tag rails_blob_url(@user.avatar, disposition: "inline" ), class:"w-full h-full object-cover" %>
          <% else %>
            <p>Avatar não disponível.</p>
          <% end %>
        </div>
        <h1 class="text-xl font-bold">
          Olá <%= current_user.name %>!
        </h1>
      </div>
      <ul class="flex gap-2">
        <li class="bg-black p-2 rounded-lg text-white">
          <%= link_to "Meus Artigos", dashboard_path %>
        </li>
        <li class="bg-red-600 p-2 rounded-lg text-white">
          <%= button_to "Sair" , destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </header>
  
    <section class="container flex justify-start flex-col gap-8">
        <div class="flex justify-center mt-10">
            <div class="w-full bg-white p-8 rounded-lg shadow-lg">
              <h1 class="text-2xl font-bold mb-6 text-gray-800">Escreva seu artigo</h1>
              
              <%= form_with model: @article, class: "space-y-6" do |form| %>
                
                <div class="space-y-2">
                  <%= form.label :title, "Titulo do artigo:", class: "text-lg font-semibold text-gray-700" %><br>
                  <%= form.text_field :title, placeholder: "Aqui vai o titulo do artigo", class: "w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500" %>
                </div>
              
                <div class="space-y-2">
                  <%= form.label :body, "Escreva aqui o seu artigo:", class: "text-lg font-semibold text-gray-700" %><br>
                  <%= form.text_area :body, placeholder: "Aqui vai o seu artigo", class: "w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500 h-40" %>
                </div>

                <div class="space-y-2">
                  <%= form.label :image, "Imagem para o artigo:", class: "text-lg font-semibold text-gray-700" %>
                  <%= form.file_field :image, class: "p-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500" %>
                </div>
            
                  <%= form.submit "Publicar", class: "bg-black text-white font-bold text-lg px-6 py-4 rounded-lg hover:bg-blue-700" %>
    
              
              <% end %>
            </div>
          </div>
          
    </section>
  </div>